@import "../../../style/base";
@import "../../../style/mixins";

.section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  background-image: url("../../Assets/Image/back.webp");
}

.infoItemImg {
  width: 48px;
  height: 48px;
}

.title {
  padding: 10px;
  @include h2;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #060912;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include h3
}

.infoItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {



  .info {
    display: flex;
    align-items: center;
    height: 200px;
    @include h3;
    flex-direction: row;

  }




  .infoItem {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }


}
