@import "../../../style/base";
@import "../../../style/mixins";

.fourthSection {
  background-color: #060912;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  @include h2;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 20px;
  background-color: #060912;
}


.firstItem {
  width:300px;
  height: 300px;
  background-color: #060912;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #383269;
  background-color: #0b0e17;
  border-radius: 10px;
}

.infoBlockMini {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #383269;
  background-color: #0b0e17;
  width: 300px;
  height: 80px;
  border-radius: 10px;
}

.infoBlockMacro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #383269;
  background-color: #0b0e17;
  width: 300px;
  height: 180px;
  border-radius: 10px;
}

.secondItem {
  width: 300px;
  height: 300px;
  background-color: #060912;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.subTitle {
  @include h3;
  padding: 5px;
}

.greenBlock {
  display: block;
  background: rgb(69,114,64);
  background: linear-gradient(180deg, rgba(69,114,64,1) 4%, rgba(0,0,0,1) 100%);
  height: 80px;
  width: 20px;
}

.greenBlock1 {
  display: block;
  background: rgb(69,114,64);
  background: linear-gradient(180deg, rgba(69,114,64,1) 4%, rgba(0,0,0,1) 100%);
  height: 90px;
  width: 20px;
}

.greenBlock2 {
  display: block;
  background: rgb(69,114,64);
  background: linear-gradient(180deg, rgba(69,114,64,1) 4%, rgba(0,0,0,1) 100%);
  height: 100px;
  width: 20px;
}

.greenBlock3 {
  display: block;
  background: rgb(69,114,64);
  background: linear-gradient(180deg, rgba(69,114,64,1) 4%, rgba(0,0,0,1) 100%);
  height: 120px;
  width: 20px;
}

.line {
  display: block;
  background: rgb(69,114,64);
  background: linear-gradient(90deg, rgba(69,114,64,1) 4%, rgba(11,14,23,1) 100%);
  height: 10px;
  width: 90%;
  border-radius: 10px;
}

.block {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: end;
  width: 280px;
}

.circleDiagram{
  --percent: 87.5;
  --degree: calc(360deg / 100 * var(--percent));
  --hue: calc(360 / 100 * var(--percent));
  --accent-color: hsl(114, 28%, 35%);

  font-size: 1rem;
  width: 100%;
  max-width: 15rem;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  filter: drop-shadow(0 0.5rem .5rem rgb(0 0 0 / .5));

  display: grid;
  place-items: center;
  font-weight: 700;
  font-family: system-ui, sans-serif;
  color: var(--accent-color);
  text-shadow: 0 0 5px rgb(0 0 0);
  cursor: pointer;
}
.circleDiagram::before, .circleDiagram::after{
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.circleDiagram::before{
  inset: 1em;
  background-color: var(--accent-color);
  background-image:
          radial-gradient(
                          circle at calc(50% - 0.25rem) calc(50% + 0.25rem),
                          rgb(0 0 0 / .25) 25%,
                          transparent calc(25% + 0.5rem)
          ),
          conic-gradient(
                          rgb(255 255 255 / .25) 0deg,
                          rgb(0 0 0 / .25) var(--degree)
          ),
          conic-gradient(
                          at calc(50% - 0.4rem) calc(50% + 0.4rem),
                          transparent var(--degree),
                          rgb(0 0 0 / .25) calc(var(--degree) + 5deg)
          );




}
.circleDiagram::after{
  inset: 0;
  background-color: rgb(50 50 50);
  background-image: linear-gradient(transparent, rgb(0 0 0 / .5));
  --mask1: radial-gradient(black 25%, transparent calc(25% + 1px));
  --mask2: conic-gradient(transparent var(--degree), black calc(var(--degree) + .5deg));
  -webkit-mask-image: var(--mask1), var(--mask2);
  mask-image: var(--mask1), var(--mask2);
}




@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {
  .fourthSection {
    background-color: #060912;
    height: 340px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
  }
  .infoBlockMini {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #383269;
    background-color: #0b0e17;
    width: 380px;
    height: 80px;
    border-radius: 10px;
  }
  .firstItem {
    width: 400px;
    height: 300px;
    background-color: #060912;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infoBlockMacro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #383269;
    background-color: #0b0e17;
    width: 380px;
    height: 180px;
    border-radius: 10px;
  }
  .block {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: end;
  }
  .secondItem {
    width: 400px;
    height: 300px;
    background-color: #060912;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

