@import "src/style/_base.scss";
@import "src/style/mixins";

.header {
  display: flex;
  background-color: #060912;
}

.menu {
  background-color: rgba(19, 22, 68, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #060912;
  padding: 10px;
}

.btnMenu {
  padding: 10px;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: block; object-fit: cover;
  height: 50px;
  width: 50px;
}

.link {
  @include h2;
  color: #262b3d;
}

@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1200px) {
  .headerButton .btnMenu {
    display: none;
  }
  .menu {
    flex-direction: row;
    justify-content: space-around;
    height: 70px;

  }
}