@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');



.appWrapper {

}



.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

}


@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}


@media only screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}


@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
