@mixin shadow {
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 13px 0 rgba(0,0,0,0.75);
}

@mixin center {
  display: flex;
  justify-content: center;
}

@mixin h2 {
  font-family: "Tilt Neon", sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  user-select: none
}

@mixin h3 {
  font-family: "Tilt Neon", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  user-select: none
}

@mixin text {
  font-family: "Tilt Neon", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  user-select: none
}