@import "../../../style/base";
@import "../../../style/mixins";

.imgLan {
  width: 150px;
  height: 150px;
}

.text {
  @include h3;
  display: flex;
  justify-content: center;
}

.title {
  padding: 10px;
  @include h2;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #060912;
}

.thirdGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url("../../Assets/Image/back.webp");
  @include h3;
  padding: 10px;
}
@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

  .thirdGroup {
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 20px;
    background-image: url("../../Assets/Image/back.webp");
    @include h3;
    padding: 10px;
  }


  .titleWrapper {
    margin: 0 auto;
  }

  .lanSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


}