@import "../../style/base";
@import "../../style/mixins";




.footer {
  background-color: #060912;

}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.text {
  @include text;
  @include center;

}

.subTitle {
  @include center;
  @include h3;
  font-size: 15px;
  padding: 5px;

}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {
  .list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
}

