@import "../../../style/base";
@import "../../../style/mixins";

.fiveSection {
  background-image: url("../../Assets/Image/back.webp");
  flex-direction: column;
  display: flex;
  padding: 20px;
  align-items: center;
}

.title {
  @include center;
  @include h2;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 80px;
}

.text {
  @include text;
  @include center;
}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {
  .fiveSection {
    background-image: url("../../Assets/Image/back.webp");
    flex-direction: row;
    display: flex;
    padding: 20px;
    align-items: center;
  }
}