@import "../../../style/base";
@import "../../../style/mixins";


.section {
  position: relative;
  background-image: url("../../Assets/Image/back.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 300px;
  padding: 20px;
  object-fit: cover;
  overflow: hidden;

}

.logoSection {
  @include center;
  background-color: rgba(19, 22, 68, 0.1);
  border-radius: 20px;
  @include shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.logo {
  height: 100px;
  width: 180px;
}

.title {
  @include center;
  @include h2;
  align-items: center;
  font-size: 30px;
}

.subTitle {
  @include center;
  @include h3
}

.text {
  @include text;
  @include center;
}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {
  .section {
    position: relative;
    background-image: url("../../Assets/Image/back.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;  height: 300px;
    padding: 20px;
    object-fit: cover;
    overflow: hidden;
  }

  .logoSection {
    @include center;
    background-color: rgba(19, 22, 68, 0.1);
    width: 550px;
    border-radius: 20px;
    flex-direction: row;
    @include shadow;
    position: absolute;
    top: 60px;
    left: -50px;
    height: 100px;

  }

  .infoSection {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    @include center;
    @include h2;
    align-items: center;
    text-align: center;

  }

  .subTitle {
    @include center;
    @include h3
  }

  .text {
    @include text;
    @include center;
  }
}



